<div class="footer-bg">
<p>
	 Wedhs Entreprenad AB</br>Darsta 4, 725 98</br>Västerås</br>

  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>


    <!--<ul id="nav-footer">
      <li><%= link_to "Hem",    '#' %></li>
      <li><%= link_to "Maskinpark",    '#' %></li>
      <li><%= link_to "Husbygge", '#' %></li>
      <li><%= link_to "Kontakt", '#' %></li>
      <li><%= link_to "Tjänster", '#' %></li>
    </ul>-->

  </div>

